$mainBG: #22223b;
$mainBGlighter: #282835;
$mainBGTransparent: rgba(34, 34, 59, .7);
$secondaryBG: #4a4e69;
$textColor: #edf2f4;
$textColorTransparent: rgba(237, 242, 244, .7);
$contrastColor: #7ddee1;
$confirmColor: #52b788;
$declineColor: tomato;
